---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

.post-title { font-size: x-large }
.post-meta { font-size: medium; color: #999 !important; visibility: hidden; }
.post-summary { font-size: small; }
.post-categories { font-size: small;}
.card-body p, .card-body li { font-size: large; font-family: 'Times New Roman', Times, serif; }
.card-body li { margin-left: 30px; margin-bottom: 10px; }